@font-face {
    font-family: 'LucidaC';
    src: url('../font/LCALLIG.TTF');
}
.Fond {
	background-color: #343A40;
	color: #FFF;
}
.Titre {
	text-align: center;
	font-family: 'Courier New';
	font-size: 2em;
}
.Centrer {
	text-align: center;
}
.Bouton:hover {
	color: #333 !important;
	background-color: #080;
}
.Bouton {
	color: #080;
	background-color: #333;
	text-align: center;
	text-decoration: none;
	font-size: 1.4em;
	border: 1px solid #080;
	margin-bottom: 2px;
	margin-right: 5px;
	border-radius: 10px;
}
span.Bouton:hover {
	color: #333;
	background-color: #080;
}
.calligraphy {
	font-family: 'LucidaC';
}
.Ombre {
	text-shadow: 2px 2px 0px black;
}
a[href="mailto:Boucher.Pierre@hotmail.fr"] {
	color: green;
	font-family: none;
}
.Flotte {
	float: left;
}
.Disparition {
	width: 100%;
	display: none;
}
.progress {
	margin-bottom: 2px;
}
.TailleBarre {
	height: 40px;
}
.PoliceBarre {
	color: #000;
	font-size: 1.5em;
	font-weight: bold;
	font-family: 'Courier New';
}
.Test {
	border: 2px solid red;
}