@font-face {
    font-family: 'adobeArabic';
    src: url('../font/AdobeArabic-Regular.otf');
}
html, body {
	height: 100%;
}
body {
	background-color: #171328;
	color: #adf17a;
	font-family: 'adobeArabic';
	font-size: 1.5em;
	text-align: justify;
}
.globalDiv {
	background-color: #0f0b24;
	min-height: 100%;
}
.navbar {
	background-color: #171328;
	color: #adf17a;
}
.nav-link {
	color: #adf17a !important;
}
.nav-link:hover {
	color: #adf17a !important;
}
h1 {
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	line-height: 0.8em;
}
.undertitel {
	font-size: .5em;
	font-weight: normal;
}
.caillouList {
	padding-left: 0px; 
}
.progressBarFont {
	font-family: 'courier new';
	font-size: 1.8rem;
	vertical-align: middle;
}
.progress {
	margin-bottom: 3px;
}
.progress-bar {
	height: 100%;
}
.displayNone {
	display: none;
}
.btn-success {
	margin-bottom: 10px;
	margin-right: 2px;
	margin-left: 2px;
	font-weight: bold;
	font-size: 1.8rem;
	background-color: #51893e;
	color: #0f0b24;
}
.btn-success:hover {
	background-color: #adf17a;
	color: #0f0b24;
}
.btn-success:focus {
	background-color: #adf17a;
}
a[href="mailto:Boucher.Pierre@hotmail.fr"]{
	color: #adf17a;
	text-decoration: underline;
}
a[href="mailto:Boucher.Pierre@hotmail.fr"]:hover{
	color: #51893e;
	text-decoration: underline;
}
.lineBreak50 {
	margin-top: 50px;
}
.lineBreak25 {
	margin-top: 25px;
}
.htmlColor {
	background-color: #E58C21 !important;
}
.cssColor {
	background-color: #E6C918 !important;
}
.terminalColor {
	background-color: #300A24 !important;
}
.gitColor {
	background-color: #000A24 !important;
}
.jqueryColor {
	background-color: #339804 !important;
}
.javascriptColor {
	background-color: #63A814 !important;
}
.csharpColor {
	background-color: #9B4F97 !important;
}
.phpColor {
	background-color: #545893 !important;
}
@media (min-width: 992px) {
	.lineBreak25 {
		padding-left: 250px;
		padding-right: 250px;
	}
	#caillouCompetences {
		padding-left: 0px;
		padding-right: 0px;
		border: solid 5px #0F0;
	}
	h1 {
		font-size: 4.5em;
		font-weight: normal;
		line-height: .65em;
	}
}

.TEST {
	border:1px solid red;
}